.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* tries to fill as many columns until there isn't space*/
    /* preferred minimum, uses 2nd arg instead)
    grid-template-rows: repeat(2, 100px);*/
}

